#amount-result-card {
    -fx-font-size: 30px;
    -fx-font-family: "Space Grotesk";
}

#info-result-card {
    -fx-font-size: 15px;
    -fx-font-family: "JetBrains Mono Regular";
}

#result-card {
    -fx-background-color: #161616;
    -fx-border-width: 1px;
    -fx-border-color:#303030;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#icon-result-card .icon-stroke{
    -fx-background-color: red;
}